--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.109.0
uvicorn==0.27.0
python-telegram-bot==20.7
yt-dlp>=2024.3.10
aiofiles==23.2.1
python-multipart==0.0.9
Pillow>=10.3.0
torch
torchvision
tb-nightly
git+https://github.com/XPixelGroup/BasicSR.git
realesrgan
opencv-python-headless
